{% assign navigation_pages = site.html_pages | sort: 'navigation_order' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand px-0 py-0" href="#">
    <img src="/assets/img/favicon.png" height="40px" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
    {% for page in navigation_pages %}
      {% if page.navigation_order %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    {% for page in navigation_pages %}
      {% if page.documentation %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="https://ggg.social">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/index.html">API Docs</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end">
    <button class="github-link btn btn-outline-success">Download </button>
  </div>
</nav>
